@import '@/styles/fonts.css';
@import '@/styles/colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font: 'Outfit', sans-serif;

    --dark: 0deg 0% 5%;
    --background: 0deg 0% 9%;
    --foreground: 0 0% 98%;

    --card: 0deg 0% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 0deg 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 194deg 85% 48%;
    --primary-foreground: 194 10% 95%;
    --primary-border: 194deg 85% 28%;
    --primary-light: 195deg 82% 84%;

    --secondary: 240 3.7% 16%;
    --secondary-foreground: 0 0% 98%;
    --secondary-border: 240 3.7% 30%;

    --muted: 240 3.7% 16%;
    --muted-foreground: 240 5% 50%;

    --accent: 240 3.7% 16%;
    --accent-foreground: 0 0% 98%;
    --accent-border: 240 3.7% 30%;

    --destructive: 0 62.8% 37%;
    --destructive-foreground: 0 0% 98%;
    --destructive-border: 0 40% 50%;
    --destructive-600: 9.7deg 85.2% 62.9%;
    --destructive-500: 7.9deg 71.6% 29%;
    --destructive-400: 6.7deg 60% 20.6%;
    --destructive-300: 7.5deg 51.3% 15.3%;
    --destructive-200: 10.9deg 23.4% 9.2%;
    --destructive-100: 10deg 32.8% 7%;

    --border: 0deg 1% 20.3%;
    --input: 0deg 1% 20.3%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font);
    font-weight: 300;
  }

  main {
    @apply max-w-6xl mx-auto;
    min-height: calc(100vh - 52px);
  }
  nav {
    @apply max-w-6xl mx-auto py-2;
  }
  p {
    @apply mt-2;
  }
  h1 {
    @apply scroll-m-20 text-4xl lg:text-5xl font-medium tracking-wide;
  }
  h2 {
    @apply scroll-m-20 text-2xl lg:text-3xl font-medium text-center transition-colors first:mt-0 text-primary-foreground/70 tracking-wide;
  }
}

form {
  position: relative;
}

input,
textarea {
  background: hsl(var(--background));
  border: 1px solid hsl(var(--input));
}

.toast-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-color: hsl(var(--primary-border));
}

.toast-secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  border-color: hsl(var(--secondary-border));
}

.toast-accent {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
  border-color: hsl(var(--accent-border));
}

.toast-destructive {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
  border-color: hsl(var(--destructive-border));
}

.bg-destructive {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-default) / var(--tw-bg-opacity));
}

.bg-destructive-200 {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-200) / var(--tw-bg-opacity));
}

.animate-spin {
  animation: spin 1.3s linear infinite;
}

.form-label {
  font-size: 0.875rem;
  line-height: 1.09375rem;
  margin-bottom: 0.5rem;
}

.form-col-33 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 33%;
}

.no-habits-img {
  filter: drop-shadow(2px 3px 5px black);
  opacity: 0.9;
}

.reminders-list {
  display: flex;
  gap: 0.25rem;
}
