@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font: 'Inter', sans-serif;

    --background: 0deg 0% 9%;
    --foreground: 0 0% 98%;

    --card: 0deg 0% 9%;
    --card-foreground: 0 0% 98%;

    --popover: 0deg 0% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --primary-border: 0 0% 80%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --secondary-border: 240 3.7% 30%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 50%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --accent-border: 240 3.7% 30%;

    --destructive: 0 62.8% 37%;
    --destructive-foreground: 0 0% 98%;
    --destructive-border: 0 40% 50%;
    --destructive-600: 9.7deg 85.2% 62.9%;
    --destructive-500: 7.9deg 71.6% 29%;
    --destructive-400: 6.7deg 60% 20.6%;
    --destructive-300: 7.5deg 51.3% 15.3%;
    --destructive-200: 10.9deg 23.4% 9.2%;
    --destructive-100: 10deg 32.8% 7%;

    --border: 0deg 1% 20.3%;
    --input: 0deg 1% 20.3%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font);
  }
}

nav {
  @apply max-w-6xl mx-auto py-2;
}

main {
  @apply max-w-6xl mx-auto;
  min-height: calc(100vh - 52px);
}
p {
  @apply mt-2;
}
h1 {
  @apply scroll-m-20 text-4xl font-bold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}

form {
  position: relative;
}

.toast-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-color: hsl(var(--primary-border));
}

.toast-secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  border-color: hsl(var(--secondary-border));
}

.toast-accent {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
  border-color: hsl(var(--accent-border));
}

.toast-destructive {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
  border-color: hsl(var(--destructive-border));
}

.bg-destructive {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-default) / var(--tw-bg-opacity));
}

.bg-destructive-200 {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-200) / var(--tw-bg-opacity));
}

.bg-destructive-300 {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-300) / var(--tw-bg-opacity));
}

.bg-destructive-400 {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-400) / var(--tw-bg-opacity));
}

.bg-destructive-500 {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-500) / var(--tw-bg-opacity));
}

.bg-destructive-600 {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive-600) / var(--tw-bg-opacity));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1.5s linear infinite;
}
